* { 
    box-sizing: border-box; 
}

.input-selector {
    padding: .5rem;
    margin-bottom: 1rem;

    background: #CCC;
}

.input-selector input {
    margin: auto .5rem;
}

.input-wrapper {
    display: none;
}

.input-wrapper.active {
    display: block;
}

.tag {
    display: inline-block;

    padding: .5rem;
    margin: .25rem;

    background: #CCC;
}

#results {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;

    width: 95%;
    max-width: 300px;
    min-width: 250px;
    margin: 1rem;

    background: #EEE;
    border: 1px solid #000;
}

.card + .card {
    margin-top: 1rem;
}

.card h3 {
    margin: 0;
    padding: .5rem 1rem;

    color: #FFF;
    text-align: center;

    background: #000;
}

.card p {
    flex: 1;

    margin: 0;
    padding: .5rem;
}

.card-tags {
    background: #666;
}

.card-tag {
    display: inline-block;

    padding: .25rem;
    margin: .25rem;

    background: #AAA;
}

.card-tag.active {
    background: #FFF;
}
